<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">E-Mail</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating"
            >Password <ion-text color="danger">*</ion-text></ion-label
          >
          <ion-input required type="text"></ion-input>
        </ion-item>

        <ion-button
          block
          color="primary"
          type="submit"
          routerLink="/menu/first"
        >
          Login
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
